<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ocrispum">

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ocrispum"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".CriarCodigoResultado"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoPosicaoDaPlantaNoVaso"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoNumeroDoRecipiente"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoTempoDeEnzima"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoTempoDeBloqueio"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoDiasNaColchicina"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoEstagioDaPlanta2"
            android:exported="false" />
        <activity
            android:name=".CriarCodigoPorcentagemColchicina"
            android:exported="false" />
        <activity
            android:name=".CriarCodigo"
            android:exported="false" />
        <activity
            android:name=".ConsultarCodigo"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>